nav(class='navbar navbar-expand-lg navbar-dark bg-dark mb-3')
  div(class='container-fluid px-5')
    a(class='navbar-brand' href='/') Members Only
    button(class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span(class='navbar-toggler-icon')
    div(class='collapse navbar-collapse' id='navbarSupportedContent')
      ul(class='navbar-nav ms-auto mb-2 mb-lg-0')
        if currentUser
          if !currentUser.member
            li(class='nav-item')
              a(
                class=`nav-link ${originalUrl === '/users/join-club' ? 'active' : ''}` 
                href='/users/join-club'
              ) Join the Club
          if !currentUser.admin
            li(class='nav-item')
              a(
                class=`nav-link ${originalUrl === '/users/be-an-admin' ? 'active' : ''}` 
                href='/users/be-an-admin'
              ) Be an Admin
          li(class='nav-item')
            a(
              class=`nav-link ${originalUrl === '/posts/create' ? 'active' : ''}` 
              href='/posts/create'
            ) Create Post
          li(class='nav-item')
            a(class='nav-link' href='/users/log-out') Log Out
        else
          li(class='nav-item')
            a(
              class=`nav-link ${originalUrl === '/users/sign-up' ? 'active' : ''}` 
              href='/users/sign-up'
            ) Sign Up
          li(class='nav-item')
            a(
              class=`nav-link ${originalUrl === '/users/log-in' ? 'active' : ''}` 
              href='/users/log-in'
            ) Log In
